Source: mogvert
Section: sound
Priority: extra
Maintainer: Edward Murrell <edward@murrell.co.nz>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.2
Homepage: https://github.com/edward-murrell/mogvert

Package: mogvert
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libmp3lame0 (>= 3.98.2), libvorbisfile3 (>= 1.2.0), libflac++6 (>=1.2.1), libao4 (>= 1.0.0)
Description: Mogvert is an command line audio reencoder.
